{% extends 'template.html' %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}
<div class="row">
    {% for paquete in paquetes %}
    <div class="card m-5" style="width: 18rem;">
        <img class="card-img-top" src="{{paquete.foto.url}}" alt="Card image cap" height="150" width="150">
        <div class="card-body">
            <h5 class="card-title">{{paquete.nombre}}</h5>
            <p class="card-text">
                {{paquete.descripcion}}
            </p>
            <p>
                Precio: {{paquete.precio}} Bs
            </p>
        </div>
        <a class="btn btn-success" href="/comprar/{{paquete.id}}" role="button">Comprar</a>
    </div>
    {% endfor %}
</div>

{% endblock %}