{% extends 'template.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}

<br>
    <div class="container">
        {% for compra in compras %}
            <div class="card text-center">
                <div class="card-header">
                    {{compra.user.first_name}} {{compra.user.last_name}} ({{compra.user.tipo}}) - {{compra.paquete.nombre}} - {{compra.paquete.precio}} BS
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="{{compra.paquete.foto.url}}" height="100" width="100">
                    </h5>
                    <p class="card-text">
                        {{compra.paquete.descripcion}}
                        <br>
                        Fecha de compra: {{compra.fecha_literal}}
                        <br>
                        Dias restantes: {{compra.dias_restantes}}
                    </p>
                </div>
                <div class="card-footer text-muted text-uppercase">
                    {% if compra.activo %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}