<nav class="navbar navbar-light navbar-expand-lg" style="background-color: red;">
    <div class="container-fluid fs-4">
        <a class="navbar-brand" href="{% url 'perfil' %}">
            <img src="{{user.foto.url}}" width="30" height="30">
            Usuario: {{ user.get_username }} ({{user.tipo}})
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.tipo == 'Estudiante' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registrar_vehiculo' %}">Registra tu Vehiculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mis_vehiculos' %}">Mis Vehiculos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'comprar_paquetes'%}">Comprar Paquete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mis_suscripciones'%}">Mis suscripciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'parqueo'%}">Parqueo</a>
                </li>
                {% elif user.tipo == 'Administrador' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear_paquete' %}">Crear Paquete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'paquetes' %}">Paquetes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'activaciones' %}">Activaciones</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crear_parqueo' %}">Crear Parqueo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mis_parqueos' %}">Mis Parqueos</a>
                </li>

                {% elif user.tipo == 'Guardia' %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'marcar_salidas' %}">Marcar Salidas</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'ver_salidas' %}">Ver Salidas</a>
                </li>

                {% elif user.tipo == 'Contabilidad' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reportes_suscripciones_compradas' %}">Reporte de suscripciones compradas</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>