{% extends 'template.html' %}

{% block content %}
    {% for paquete in paquetes %}
        {{ paquete.nombre }}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{paquete.foto.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{paquete.nombre}}</h5>
                <p class="card-text">
                    {{paquete.descripcion}}
                </p>
                <p>
                    Precio: {{paquete.precio}} Bs
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}