{% extends 'template.html' %}

{% block title %}
    Paquetes
{% endblock %}
{% block content %}
<div class="row">
    {% for paquete in paquetes %}
    <div class="card m-5" style="width: 18rem;">
        <img class="card-img-top" src="{{paquete.foto.url}}" alt="Card image cap" width="150" height="150">
        <div class="card-body">
            <h5 class="card-title">{{paquete.nombre}}</h5>
            <p class="card-text">
                {{paquete.descripcion}}
            </p>
            <p>
                Precio: {{paquete.precio}} Bs
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}