{% extends 'template.html' %}

{% load qr_code %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}
<div class="container p-5">
    {% if user.parqueado %}
        <div class="div"style="background-color:white">
            <h1>Ya estas parqueadoo!</h1>
            <h1>Detalle de parqueo</h1>
            <h1>Conductor: {{detalle_parqueo.user.first_name}} {{detalle_parqueo.user.last_name}}</h1>
            <h1>Vehiculo: {{detalle_parqueo.vehiculo.placa}} - {{detalle_parqueo.vehiculo.modelo}} - {{detalle_parqueo.vehiculo.color}} </h1>
            <h1>{{detalle_parqueo.parqueo.nombre}}</h1>
            <h1>{{detalle_parqueo.parqueo.descripcion}}</h1>
            {% qr_from_data enlace size="H" %}
        </div>
        
    {% else %}
        <div class="col">
            <div class="row">
                {% for parqueo in parqueos %}
        
                {% if parqueo.activo %}
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Parqueo Disponible</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ parqueo.nombre }}</h5>
                        <p class="card-text">
                            {{ parqueo.descripcion }}
                        </p>
                        <a class="btn btn-black btn-lg w-100" href="/parquear/{{parqueo.id}}" role="button">Parquear</a>
                    </div>
                </div>
                {% else %}
        
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Parqueo Ocupado</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ parqueo.nombre }}</h5>
                        <p class="card-text">
                            {{ parqueo.descripcion }}
                        </p>
                    </div>
                </div>
                {% endif %}
        
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
</div>


{% endblock %}